/*new user registration css*/


.margin-top	
{
	margin-top: 5%;

}

#wrapper 
{
	background-color: #6f5499;
}

	#wrapper h1 
	{

		color: #fff;

	}

	

	.ballin
	{
		
		border-color:red !important;
		box-shadow: none !important;
	}